<html>
<head>
</head>
<body>
<h1>Ahorcado</h1>
<br>
<h2>Palabra = <%= @@palabra_a_adivinar %></h2>
<form action="adivinar" method="POST">
<label>Adivine la palabra:</label><br>
<input type="text" name="palabra"/>
<br>
<label>Adivine la letra:</label>
<br>
<input type="text" name="letra"/>
<input type="submit" value="adivinar"/>
</form>
<label><%= @@resultado_palabra %></label>
<br>
<label><%= @@resultado_letra %></label><br>
<label>Chances = <%= @@contador %></label>
<br>
<label>Letras ingresadas = <%= @@lista_letras %></label>
</body>
</html>
